.maths-hero {
  width: 100%;
  min-height: 100vh;
  background: #f5f5f5;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding: 80px 20px 120px;
  font-family: "Inter", sans-serif;
}

/* IMAGE */
.maths-hero-img {
  width: 520px;
  max-width: 90%;
  border-radius: 18px;
  margin-bottom: 40px;
}

/* TITLE */
.maths-title {
  font-size: 44px;
  font-weight: 800;
  color: #000000;
  margin-bottom: 24px;
}

/* DESCRIPTION */
.maths-desc {
  max-width: 900px;
  font-size: 17px;
  line-height: 1.9;
  color: #000000;
  margin-bottom: 70px;
}

/* META INFO */
.maths-meta {
  display: flex;
  gap: 30px;
  font-size: 16px;
  color: #ff6a00;
  font-weight: 500;
}
