.mayank-page {
  background: #ffffff;
  padding: 60px 0;
  background-color: #f5f5f5;
}

.mayank-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  gap: 60px;
  align-items: flex-start;
}

/* LEFT TEXT */
.mayank-content {
  font-size: 17px;
  line-height: 1.9;
  color: #333;
}

.mayank-title {
  font-size: 45px;
  font-weight: 300;
  letter-spacing: 6px;
  margin-bottom: 14px;
}

.mayank-subtitle {
  font-size: 16px;
  color: #666;
  margin-bottom: 40px;
  padding-left: 12px;
  border-left: 2px solid #e5e5e5;
  letter-spacing: 1px;
}

.mayank-content p {
  margin-bottom: 22px;
}
.description{
    font-weight: 300;
    font-size: 17px;
    letter-spacing: 1.5px;
    line-height: 2;
}

.mayank-content strong {
  font-weight: 700;
  color: #000;
}

.mayank-sign {
  margin-top: 40px;
  font-size: 16px;
}

/* RIGHT IMAGE */
.mayank-image {
  position: sticky;
  top: 120px;
}

.mayank-image img {
  width: 100%;
  height: 1100px;
  border-radius: 4px;
  object-fit: cover;
}
