.nishchal-section {
  width: 100%;
  padding: 40px ;
}

.nishchal-section img {
  width: 100%;
  max-width: 1400px;
  display: block;
  margin: 0 auto;
  border-radius: 24px;
}

/* Mobile responsive */
@media (max-width: 768px) {
  .nishchal-section {
    padding: 20px;
  }

  .nishchal-section img {
    border-radius: 16px;
  }
}
