.our-courses-section {
  width: 100%;
  padding: 80px 0 120px;
  background: #2f2f2f;
}

.our-courses-title {
  text-align: center;
  color: #e5e5e5;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 70px;
}

/* GRID */
.our-courses-grid {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 24px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

/* CARD */
.our-course-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* IMAGE */
.our-course-image {
  width: 100%;
  border-radius: 22px;
  margin-bottom: 18px;
}

/* TEXT */
.course-name {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 14px;
}

.course-free {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 18px;
}

.course-type {
  color: #cfcfcf;
  font-size: 15px;
  margin-bottom: 14px;
}

.course-price {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 22px;
}

/* BUTTON */
.buy-btn {
  width: 100%;
  padding: 14px 0;
  border-radius: 30px;
  background: #f25c05;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 1000px) {
  .our-courses-grid {
    grid-template-columns: 1fr;
    gap: 50px;
  }
}
