.syllabus-section {
  width: 100%;
  padding: 100px 0;
  background: #ffffff;
}

.syllabus-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: #0b0b6f;
  margin-bottom: 60px;
  font-family: "Inter", sans-serif;
}

/* LIST */
.syllabus-list {
  max-width: 1100px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* CARD */
.syllabus-card {
  background: #ffffff;
  border-radius: 60px;
  padding: 28px 36px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.04);
}

/* LEFT */
.left {
  display: flex;
  align-items: center;
  gap: 18px;
}

.number {
  color: #ff5a00;
  font-size: 20px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.topic {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  font-family: "Inter", sans-serif;
}

/* RIGHT */
.right {
  display: flex;
  align-items: center;
  gap: 14px;
}

.info {
  color: #ff5a00;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

.arrow {
  color: #ff5a00;
  font-size: 18px;
}
