/* PAGE */
.courses-page {
  padding: 60px 80px;
}

/* HEADER */
.courses-header {
  margin-bottom: 30px;
}

.courses-title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.courses-title-row h2 {
  font-size: 32px;
  font-weight: 500;
  color: #4b5563;
}

.view-all {
  color: #ff6a00;
  font-size: 14px;
  cursor: pointer;
}

hr {
  border: none;
  border-top: 1px solid #e5e7eb;
  margin-top: 14px;
}

/* CATEGORY */
.category-wrapper {
  position: relative;
  margin-bottom: 18px;
}

.category-btn {
  background: #ff6a00;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 22px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

.category-btn.active {
  background: #e65c00;
}

/* DROPDOWN */
.category-dropdown {
  position: absolute;
  top: 45px;
  left: 0;
  width: 220px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.12);
  overflow: hidden;
  z-index: 10;
}

.dropdown-item {
  padding: 12px 16px;
  font-size: 15px;
  cursor: pointer;
}

.dropdown-item:hover {
  background: #ff6a00;
  color: white;
}

/* GRID */
.courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)); /* ⬅ chhota */
  gap: 60px; /* ⬅ zyada space */
  margin-bottom: 60px;
  justify-content: center;
}



/* CARD */
.course-card {
  border-radius: 30px;
  background: white;
  overflow: hidden;
  border: 1px solid #e5e7eb;
  transition: box-shadow 0.3s ease, transform 0.3s ease;

  display: flex;          /* ✅ ADD */
  flex-direction: column; /* ✅ ADD */
}
.course-card {
  max-width: 300px;   /* ⬅ card chhota */
  margin: 0 auto;     /* ⬅ center me */
}


/* HOVER EFFECT */
.course-card:hover {
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.12);
  transform: translateY(-6px);
}


.course-img {
  position: relative;
  height: 170px;
  overflow: hidden;   /* ✅ ADD THIS */
}


.course-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.badge {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #ff6a00;
  color: white;
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 20px;
}

/* INFO */
.course-info {
  padding: 18px;
}

.course-info h4 {
  font-size: 18px;
  margin-bottom: 8px;
}

/* STAR RATING */
.rating-row {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 6px;
}

.stars {
  display: flex;
  gap: 3px;
  color: #ff6a00;
  font-size: 14px;
}

.rating-text {
  font-size: 13px;
}

/* TEXT */
.muted {
  color: #9ca3af;
  font-size: 14px;
}

.price {
  margin-top: 6px;
  font-size: 18px;
  color: #ff6a00;
  font-weight: 500;
}
